<main>
  <section>
    <form action="" class="form-buscar-producto">
      <figure class=""><img
          src="../assets/icons/search_icon.svg"
          alt="Ícono de búsqueda"
        /></figure>
      <input
        type="text"
        name=""
        id=""
        class="input input-buscar-producto"
        placeholder="Código, nombre o categoria"
      />
    </form>
  </section>
  <section>
    <div class="cont-titulo">
      <h2 class="titulo-seccion">LISTADO DE PRODUCTOS</h2>
      <div class="cont-agregar-producto">
        <p class="agregar">AGREGAR</p>
        <button class="btn-agregar"></button>
      </div>
    </div>
    <div>
      <ul class="cont-titulos-grid">
        <li>
          <h3>ID</h3>
        </li>
        <li>
          <h3>Código</h3>
        </li>
        <li>
          <h3>Nombre del Producto</h3>
        </li>
        <li>
          <h3>Categoria</h3>
        </li>
      </ul>
      <article>
        <ul class="cont-articulo">
          <li>1</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>2</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>3</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>4</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>5</li>
          <li>STW001001</li>
          <li>Luna Lovegood Lion Mask</li>
          <li>HARRY POTTER</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>6</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>7</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>8</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>9</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>10</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>11</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>12</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
      <article>
        <ul class="cont-articulo">
          <li>13</li>
          <li>STW001001</li>
          <li>Baby Yoda Blueball</li>
          <li>STAR WARS</li>
          <li class="cont-btns">
            <button class="btn-editar"></button>
            <button class="btn-eliminar"></button>
          </li>
        </ul>
      </article>
    </div>

  </section>
</main>