<main class="main-carrito container">
  <h2 class="titulo-seccion titulo-carrito">CARRITO DE COMPRAS</h2>
  <div class="container cont-subtitulo-carrito">
    <h3 class="subtitulo-carrito subtitulo-carrito-detalle">DETALLE DE PRODUCTO</h3>
    <h3 class="subtitulo-carrito subtitulo-carrito-cantidad">CANTIDAD</h3>
    <h3 class="subtitulo-carrito subtitulo-carrito-total">TOTAL</h3>
    <p></p>
  </div>
  <article class="card-carrito">
    <div class="cont-detalle-producto">
      <figure class="figure-img-detalle-producto">
        <img
          src="/img/star-wars/baby-yoda-1.webp"
          class="img-detalle-producto"
          alt="Baby Yoda"
        />
      </figure>
      <div>
        <h4 class="titulo-detalle-producto">BABY YODA BLUEBALL</h4>
        <p class="subtitulo-detalle-producto">STAR WARS</p>
        <p class="precio-detalle-producto">Precio: $1799.99</p>
      </div>
    </div>
    <div class="cont-cantidad-producto">
      <span class="span-cantidad-carrito">2</span>
      <div class="cont-button-cantidad">
        <button class="button-carrito button-sumar-carrito">+</button>
        <button class="button-carrito button-restar-carrito">-</button>
      </div>
    </div>
    <div>
      <p class="precio-card-producto">$3599.98</p>
    </div>
    <div>
      <img src="../assets/icons/gg_close-o.svg" alt="" />
    </div>
  </article>
  <article class="card-carrito">
    <div class="cont-detalle-producto">
      <figure class="figure-img-detalle-producto">
        <img
          src="/img/pokemon/pidgeotto-1.webp"
          class="img-detalle-producto"
          alt="Pidgeotto"
        />
      </figure>
      <div>
        <h4 class="titulo-detalle-producto">PIDGEOTTO</h4>
        <p class="subtitulo-detalle-producto">POKEMON</p>
        <p class="precio-detalle-producto">Precio: $1799.99</p>
      </div>
    </div>
    <div class="cont-cantidad-producto">
      <span class="span-cantidad-carrito">1</span>
      <div class="cont-button-cantidad">
        <button class="button-carrito button-sumar-carrito">+</button>
        <button class="button-carrito button-restar-carrito">-</button>
      </div>
    </div>
    <div>
      <p class="precio-card-producto">$1799.99</p>
    </div>
    <div>
      <img src="../assets/icons/gg_close-o.svg" alt="" />
    </div>
  </article>
  <div class="cont-resumen">
    <h2 class="titulo-seccion titulo-seccion-resumen">RESUMEN</h2>
    <div class="cont-detalle-resumen">
      <div class="cont-item-resumen">
        <p class="subtitulo-resumen">CANTIDAD DE ELEMENTOS</p>
        <p class="valores-resumen">3</p>
      </div>
      <div class="cont-item-resumen">
        <p class="subtitulo-resumen">SUBTOTAL</p>
        <p class="valores-resumen">$5399.97</p>
      </div>
      <div class="cont-item-resumen">
        <p class="subtitulo-resumen">ENVIO</p>
        <p class="valores-resumen">$0.00</p>
      </div>
      <img src="../assets/branding/Line 3.svg" alt="" class="linea-divisoria" />
      <div class="cont-item-resumen">
        <p class="subtitulo-resumen-total">TOTAL</p>
        <p class="valores-resumen valor-resumen-total">$5399.97</p>
      </div>
    </div>
    <a href="" class="link-pago">IR A PAGAR</a>
  </div>
</main>