<main class="container main-contact">
  <h2 class="titulo-seccion title-contact">Contactanos</h2>
  <form action="" class="form-contact" method="post">
    <div class="cont-input">
      <label for="name">Nombre:</label>
      <input
        type="text"
        name="name"
        id=""
        class="form-input"
        placeholder="John"
      />
    </div>
    <div class="cont-input">
      <label for="surname">Apellido:</label>
      <input
        type="text"
        name="surname"
        id=""
        class="form-input"
        placeholder="Doe"
      />
    </div>
    <div class="cont-input">
      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        id=""
        class="form-input"
        placeholder="johndoe@correo.com"
      />
    </div>

    <label for="message" class="label-message">Mensaje:</label>
    <textarea
      name="message"
      class="text-message"
      id=""
      cols="10"
      rows="10"
      placeholder="Escribe aquí tu mensaje."
    ></textarea>
    <button class="btn-form" type="submit">Enviar</button>
  </form>
</main>