<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <title>Footer</title>
</head>

<body>
    <footer>
        <div class="cont-nav-footer">
            <nav class="nav-footer">

                <ul class="list-nav-footer">
                    <li><a href="../pages/shop.html">SHOP</a></li>
                    <li><a href="../pages/login.html">INGRESAR</a></li>
                    <li><a href="">CONTACTO</a></li>
                </ul>
            </nav>
            <img src="../assets/branding/isotype.svg" alt="logo-funkoshop" class="logo-funkoshop-footer" />
        </div>

        <p class="copy-footer">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>

</body>

</html>