<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <title>Header</title>
</head>

<body>
    <header>
        <picture><a href="/index.html">
                <img src="../assets/branding/logo_light_horizontal.svg" alt="Logo Funkoshop" class="logo" />
            </a></picture>

        <nav class="nav-header">
            <ul class="list-nav-header">
                <li>

                    <select name="select-nav-header" id="select-nav-header" onchange="window.location.href = this.value"
                        class="select-nav-header">
                        <option value="../pages/shop.html">SHOP</option>
                        <option value="../pages/register.html">opcion 2</option>
                        <option value="../pages/login.html">opcion 3</option>
                    </select>

                </li>
                <li><a href="">CONTACTO</a></li>
                <li><a href="../pages/login.html">LOGIN</a></li>
                <li>
                    <a href="../pages/carrito.html"><img src="../assets/icons/cart-icon.svg"
                            alt="Icono de carrito de compras" /> </a>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>