<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <link rel="stylesheet" type="text/css" href="/styles/shop.css" />
    <link rel="stylesheet" type="text/css" href="/styles/carrito.css" />
    <link rel="stylesheet" type="text/css" href="/styles/item.css" />
    <link rel="stylesheet" type="text/css" href="/styles/create-edit.css" />
    <link rel="stylesheet" type="text/css" href="/styles/login-register.css" />
    <link rel="stylesheet" type="text/css" href="/styles/admin.css" />

    <title>{{title}}</title>
  </head>
  <body>
    {{> header}}
    {{{body}}}
     {{> footer}}
  </body>

<script
  src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="/js/glide.js"></script>
<script src="/js/item.js"></script>
</html>
