/**** Estilos comptartidos en pages: Create y Edit ****/
.main-create-edit {
  margin: 40px auto;
}
.form-item {
  font-size: var(--font-large);
  width: 827px;
}

.cont-categ-licencia {
  margin: 36px 0;
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 100%;
  height: 194px;
  border-radius: 4px;
  margin-bottom: 36px;
  border: 2px solid var(--dark-bg-solid);
}

textarea::placeholder {
  padding: 11.44px 13.59px;
}

.input-stock,
.input-desc {
  width: 55px;
}

.input-imagenes {
  margin-bottom: 36px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
}

.select-form {
  color: #b9b9b9;
}

/*** Estilos page Edit ***/

.cont-img-cargada {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}

.cont-img-cargada-frente,
.cont-img-cargada-dorso {
  width: 150px;
  height: 173px;
  text-align: center;
}

.cont-img {
  width: 150px;
  height: 150px;
  border-bottom: 2px solid var(--primary-solid);
}

img {
  width: 100%;
}
