.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-login {
  font-size: 42px;
}

.form-login-register {
  width: 382px;
  margin: 27px auto;
  font-size: var(--font-large);
}

.cont-input {
  display: flex;
  justify-content: space-between;
}

.cont-checkbox {
  width: 150px;
}

.cont-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-form {
  width: 108px;
  height: 39px;
}

.recordarme {
  font-size: var(--font-medium);
  font-weight: 400;
  margin-left: 8.98px;
}

.link-form {
  font-size: var(--font-xSmall);
  font-weight: 400;
  color: rgba(29, 132, 181, 1);
}

/**** Estilos page Register ****/

.main-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-register {
  font-size: 32px;
  font-weight: 500;
}

.acepto-condiciones,
.link-form-acepto-cond {
  font-size: var(--font-medium);
}

.form-registro {
  width: 457px;
  margin: 36px auto;
  font-size: var(--font-large);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
