.cont-img-cargada {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}

.cont-img-cargada-frente,
.cont-img-cargada-dorso {
  width: 150px;
  height: 173px;
  text-align: center;
}

.cont-img {
  width: 150px;
  height: 150px;
  border-bottom: 2px solid var(--primary-solid);
}

img {
  width: 100%;
}
